.dot-icon {
  position: absolute;
  left: 55rem;
  cursor: pointer;
  width: 20px;
  text-align: center;
  color: var(--secondary-color);
}
.dot-icon:hover {
  background-color: var(--gray);
  border-radius: 50%;
}
.modal {
  box-shadow: 0px 1px 5px var(--gray);
  width: 150px;
  height: 110px;
  position: absolute;
  right: 35%;
  background-color: #fff;
  border-radius: 5px;
}
.modal-body {
  display: flex;
  gap: 10px;
  padding: 10px;
  color: var(--secondary-color);
  font-size: 15px;
  cursor: pointer;
}
.modal-body:hover {
  background-color: var(--gray);
  color: #fff;
}
.edit-x-icon{
    margin: 10px;
    cursor: pointer;
    color: var(--secondary-color);
    width: 1rem;
    text-align: center;
    border-radius: 50%;
    font-size: 12px;
}
.edit-x-icon:hover{
    font-size: 1rem;
    background-color: var(--gray)
}
