.profile-container{
    width: 30rem;
    height: 12rem;
    box-shadow: 0px 0.5px 5px 0px var(--gray);
    border-radius: 5px;
    padding: 10px;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 5rem;    
}
.profile-avtar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.profile-details{
    line-height: 20px;
    margin-top: 10px;
}
.profile-name{
    font-weight: bold;
    display: flex;
    gap: 8rem;
}
.edit-btn>button{
    cursor: pointer;
    width: 4rem;
    height: 2rem;
    border: 0.5px solid var(--gray);
    background-color: #fff;
    color: var(--gray);
    border-radius: 2px;
}
.edit-btn>button:hover{
    background-color: var(--gray);
    color: #fff;
}
.profile-username{
    margin-top: -10px;
    color: var(--gray);
}
.user-details{
    margin-top: 15px;
    color: var(--gray);
    font-weight: bold;
}
.user-profile-details{
    display: flex;
    gap: 25px;
    margin-bottom: 15px;
}
.user-link{
    color: var(--secondary-color);
    text-decoration: none;
}
.user-link:hover{
    text-decoration: underline;
}
.following{
    cursor: pointer;
}
.follow-modal{
    box-shadow: 0px 1px 5px var(--gray);
    width: 20rem;
    min-height: 2rem;
    position: fixed;
    top: 6rem;
    left: 35rem;
    background-color: #fff;
    padding: 3rem;
    overflow-y: auto;
}