.filter-container{
    width: 30rem;
    height: 4rem;
    box-shadow: 0px 0.5px 1px 0px var(--gray);
    padding: 10px;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.navlink-filter{
    text-decoration: none;
}
.filter-label{
    color: var(--gray);
    font-weight: bold;
    display: flex;
    gap: 8px;
    cursor: pointer;
    width: 40%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.filter-label:hover{
    color: #fff !important;
    background-color: var(--gray);
    border-radius: 5px;
}