.card{
    width: 30rem;
    min-height: 10rem;
    box-shadow: 0px 0.5px 1px 0px var(--gray);
    padding: 10px;
}
.avtar{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
    margin-top: -7px;
    cursor: pointer;
}
.name{
    font-weight: bold;
    padding-right: 0.5rem;
    color: var(--primary-color);
    cursor: pointer;
}
.username{
    color: var(--gray);
    cursor: pointer;
}
.date{
    color: var(--gray);
    margin-top: 5px;
    font-size: 15px;
}
.content{
    clear: left;
    margin-top: 30px;
    margin-bottom: 10px;
    cursor: pointer;
}
.card-icons{
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
    /* border: 1px solid; */
    margin-top: 2rem;
}
.card-icons>span{
    color: var(--gray);
    cursor: pointer;
}
.icons:hover{
    color: var(--primary-color);
}
.count{
    font-size: 15px;
    margin-left: 8px;
}
.comment-line{
    margin-top: 2rem;
}
.comment-heading{
    padding: 10px;
    color: var(--gray);
}
