.cards{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
.cards:last-child{
    margin-bottom: 2rem;
}
.bookmark-txt{
    text-align: center;
    font-weight: bold;
    margin-top: 2rem;
}