.dark-bg{
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  min-height: 100vh;
  z-index: 8;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}
.modal-container{
    min-width: 350px;
    min-height: 300px;
    box-shadow: 0px 5px 5px gray;
    border-radius: 5px;
    position: fixed;
    top: 30%;
    left: 40%;
    background-color: #fff;
    z-index: 10;
}
.x-icon{
    margin: 1rem;
    cursor: pointer;
    color: var(--secondary-color);
    width: 1.5rem;
    text-align: center;
    border-radius: 50%;
}
.x-icon:hover{
    font-size: 1.1rem;
    background-color: var(--gray)
}
.text-area{
    margin: 1rem;
    width: 20rem;
    height: 10rem;
    background-color:rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 5px;
    padding: 1rem;
    color: var(--secondary-color);
    font-size: 1.2rem;
    resize: vertical;
}
.text-area:focus{
    outline:#fff
}
.post-btn{
    margin: 1rem;
    min-width: 20rem;
    height: 2rem;
    border: none;
    background-color: var(--secondary-color);
    cursor: pointer;
    color: #fff;
    font-size: large;
    border-radius: 5px;
}
.post-btn:hover{
    background-color: var(--primary-color);
}