.header{
    box-shadow: 0px 0px 3px var(--gray);
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0rem;
    z-index: 7;
    background-color: white;
}
.header-left{
    margin-left: 3rem;
}
.logo{
    width: 6rem;
    height: 5rem;
    cursor: pointer;
}

.header-right{
    padding-right: 10rem;
    display:  flex;
    gap: 6rem;
}
.icon{
    font-size: 1.2rem;
}
.icon:hover{
    color: var(--primary-color);
}
.theme-icon{
    color: var(--secondary-color);
}
.profile{
    display: flex;
    cursor: pointer;
}
.profile>img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.profile>p{
    margin-left: 0.5rem;
    margin-top: 6px;
    color: var(--secondary-color);
    
}